aiogram==3.11.1
requests==2.31.0
aiohttp==3.9.1


JSONBIN_API_KEY = "$2a$10$eCHhQtmSAhD8XqkrlFgE1O6N6OKwgmHrIg.G9hlrkDKIaex3GMuiW"  # Это ваш API KEY!
MASTER_BIN_ID = "694818b2d0ea881f40380c8c"
